NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# FoxyCart
FOXYCART_STORE_DOMAIN=bonzai.foxycart.com
FOXYCART_WEBHOOK_SECRET=
FOXYCART_STORE_SECRET=sLzUcHEkHFGXNMRaaZ24TwmcENvy29GGaGuUHnHu

# Optional (used for redirect param on cart URL)
SITE_URL=http://localhost:3000

