@import "tailwindcss";

:root {
  --ink: #0a0906;
  --bone: #f0ede5;
  --tori-red: #d84a2c;
  --moss-sage: #4a5c4a;
  --amber-gold: #ca921a;
}

@theme inline {
  --color-ink: var(--ink);
  --color-bone: var(--bone);
  --color-toriRed: var(--tori-red);
  --color-mossSage: var(--moss-sage);
  --color-amberGold: var(--amber-gold);

  --font-sans: var(--font-outfit);
  --font-mono: var(--font-jetbrains-mono);
}

html,
body {
  height: 100%;
}

body {
  background: var(--ink);
  color: var(--bone);
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
